{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-sm-4 col-lg-4">
    {% for con in content %}
    <div class="card" style="margin-top:150px; background-color:#55d6ed;">
      <div class="card-header">
        <h4 style="text-align:center;">
          <b>Residence: {{con.name}}</b>
        </h4>
      </div>
      <div class="card-body">
        <p>
          <b>Location:</b> {{con.get_location_display}} county
        </p>
        <p>
          <b>Population:</b> {{con.occupants}}
        </p>
        <a href="/business/{{con.name}}" class="btn btn-md btn-info">Add Business</a><br>
        <a href="/service/{{con.name}}" class="btn btn-md" style="background-color:#66ff33;">Add Service</a>
        <a href="/event/{{con.name}}" class="btn btn-md btn-danger">Add Incident</a>
      </div>
    </div><br>
    {% endfor %}
    {% if news %}
    {% for new in news %}
    <div class="card">
      <div class="card-body">
        <h4>
          <b>Household:</b> {{new.affected}}
        </h4>
        <p>
          <b>Description:</b> {{add.description}}
        </p>
      </div>
    </div><br>
    {% endfor %}
    {% else %}
    <h4 style="color:red">
      <b>No Incidents</b>
    </h4>
    {% endif %}
  </div>
  <div class="col-md-4 col-sm-4 col-lg-4">
    <h3 style="color:#66ff33;">
      <b>Businesses</b>
    </h3>
    {% for con in content %}
    {% if con.jirani.all %}
      {% for item in con.jirani.all %}
        <div class="card">
          <div class="card-body">
            <h5>
              <b>Name:</b> {{item.business_name}}
            </h5>
            <p>
              <b>Owner:</b> {{item.owner}}
            </p>
            <p>
              <b>Email</b> {{item.email}}
            </p>
          </div>
        </div><br>
      {% endfor %}
    {% else %}
    <h4 style="text-align:center;">
      <b>No businesses yet click the button to be the first</b>
    </h4>
    <a href="#" class="btn btn-md btn-info">Add</a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-4 col-sm-4 col-lg-4">
    <h3 style="color:#55d6ed;">
      <b>Services</b>
    </h3>
    {% if addon %}
    {% for add in addon %}
    <div class="card">
      <div class="card-body">
        <h4>
          <b>Type:</b> {{add.type}}
        </h4>
        <p>
          <b>Name:</b> {{add.name}}
        </p>
        <p>
          <b>Contact:</b> {{add.contact}}
        </p>
      </div>
    </div><br>
    {% endfor %}
    {% else %}
    <h4 style="color:red;">No registered services yet</h4>
    {% endif %}
  </div>
</div>
{% endblock %}
