{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center" style="margin-top:10px;">
    <a href="/newhood" class="btn btn-md" style="background-color:#55d6ed;">Add Residence</a>
  </div>
  {% if eye %}
  <div class="row" style="margin-top:10px;">
    {% for con in content %}
    <div class="card" style="background-color:#87e598;width:48%; margin-bottom: 10px; margin-right:5px;">
      <div class="card-body">
        <h4>
          <b>Residence: {{con.name}}</b>
        </h4>
        <p>
          <b>Location:</b>{{con.get_location_display}}
        </p>
        <p>
          <b>Population:</b>{{con.occupants}}
        </p>
      </div>
      <div class="card-footer">
        {% for i in eye %}
        <a href="/change/{{i.name.username}}/?home={{con.id}}" class="btn btn-md" style="background-color: #66ff33;">Change to this Residence</a>
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

  {% else %}
  <div class="row" style="margin-top:10px;">
    {% for con in content %}
    <div class="card" style="background-color:#87e598;width:48%; margin-bottom: 10px; margin-right:5px;">
      <div class="card-body">
        <h4>
          <b>Residence: {{con.name}}</b>
        </h4>
        <p>
          <b>Location:</b>{{con.get_location_display}}
        </p>
        <p>
          <b>Population:</b>{{con.occupants}}
        </p>
      </div>
      <div class="card-footer">
        <a href="{% url 'new_being' operation='join' name=con.name %}" id="join" class="btn btn-md btn-info">Join</a>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}


    </div>
{% endblock %}
