{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if content %}
    <h4 style="text-align:center;">
      <b style="color:blue;">Visible to you alone</b>
    </h4>
    {% for con in content %}
    <div class="card" style="margin-left:10%; margin-right: 10%; border:hidden;">
      <img class="img-fluid card-img-top" src="{{con.pic.url}}" alt="">
      <div class="card-body">
        <p>
          <b>Name:</b> {{con.name.username}}
        </p>
        <p>
          <b>Email:</b> {{con.email}}
        </p>
        <p>
          <b>Residence:</b> {{con.home.name}}
        </p>
      </div>
      <div class="card-footer" style="background-color:white;">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-lg-5"></div>
          <div class="col-md-2 col-sm-2 col-lg-2">
            <a href="#" class="btn btn-md btn-info">Residence Detais</a>
          </div>
          <div class="col-md-5 col-sm-5 col-lg-5"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
  <h4>
    <b>Please click the button to join residence and continue</b>
  </h4>
  <div class="row">
    <div class="col-md-5 col-sm-5 col-lg-5"></div>
    <div class="col-md-2 col-sm-2 col-lg-2">
      <a href="{% url 'home' %}" class="btn btn-md btn-info">New Info</a>
    </div>
    <div class="col-md-5 col-sm-5 col-lg-5"></div>
  </div>
  {% endif %}
</div>
{% endblock %}
